@keyframes myAnimation {
	fron {
		background: #1b1a22;
		width: 200px;
		height: 200px;
	}
	to {
		background: #28f5be;
		width: 400px;
		height: 100px;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #16161b;
}

main {
	display: table;
	width: 80%;
	height: 800px;
	border-radius: 2px;
	margin: 100px auto;
	background: #fff;
}

.btn:hover {
	animation: btnAnime .6s ease-out .2s alternate forwards;
}

.quadrado {
	display: block;
	width: 200px;
	height: 200px;
	margin: 20px auto;
	border-radius: 2px;
	background: #28f5be;
	box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.6);
	transition: all 2s ease-in;
	animation: myAnimation 1.5s ease-in 1.5s 6 alternate both running;
}
